.forgot{
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  text-align: center;
  color: $color-green;
}
.logo-center{
  padding-top:89px;
  margin:auto;
  display:flex;
  max-width:100%;
  height:auto;
}
.case{
  font-family: Raleway, sans-serif;
}
.graph{
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: 1.0px;
  text-align: center;
  color: $color-orange;
  padding: 0 10px;
}
.link-text{
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: 1.0px;
  text-align: center;
  color: $color-green;
  padding: 0 10px;
}
.input-emails{
  text-align: center;
  color: $color-white;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: 1.6px;
  }
#forgotpasswordform-email{
  background-color:#ccd4ce;
  height: 58px;
  color: $color-white;
  border-radius: 6px;
  border: none;
}
.sents{
  border-radius: 4px;
  background-color: $color-orange;
  color: $color-white;
  font-weight: bold;
  line-height: 0.6;
  text-align: center;
  padding: 15px 30px;
  position: relative;
  border: 0;
   &:hover {
    background: $color-orange;
    opacity: 0.9;
  }

  &:active {
    background: $color-orange;
  }
}
@media (min-width: 768px) {
  .forgot{
    font-size: 40px;
    line-height: 1.52;
    letter-spacing: 2.3px;
  }
  .link-text {
    font-size: 20px;
  }
  .graph{
    letter-spacing: 2.3px;
    padding:0 50px;
    font-size: 23px;
  }
  #graph{
  padding: 20px;
  font-size: 20px;
  letter-spacing: 2px;
  }
  .email-group{
    padding-bottom: 20px;
  }
  .input-emails{
    font-size: 16px;
    letter-spacing: 2.3px;
  }
  .sents{
    margin-top: 10px;
  }
  .sents:focus{
    outline: 0 !important;
}
}