.card_body {
  border: solid 1px $color-green;
  padding: 20px 20px;
  border-radius: 12px;
  margin-top: 70px;
}
.cards {
  padding-left: 0;
}
.reset-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.heads {
  font-family: $ff-body;
  font-size: 24px;
  font-weight: bold;
  border-top: solid 1px $color-green;
  padding-top: 4%;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: $color-green;
}
.heading {
  font-family: $ff-body;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.8px;
  text-align: left;
  color: $color-green;
}
.reset-form {
  margin: 0;
  padding: 0;
  .label {
    font-family: $ff-body;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: $color-green;
    display: inline-block;

    &:focus {
      outline: 0 !important;
    }
  }
  .help-block {
    color: $color-danger;
    font-size: 10px;
  }
  .form-input {
    position: relative;
    border-radius: 10px;
    height: 50px;
    border: solid 1px $color-green;
  }
}
.toggle-password {
  font-size: 1.5rem;
  color: $color-orange;
  bottom: 61%;
  right: 8%;
  position: absolute !important;
  z-index: 2;
}
.toggle-confirm-password {
  font-size: 1.5rem;
  color: $color-orange;
  bottom: 29%;
  right: 8%;
  position: absolute !important;
  z-index: 2;
}
.resets {
  border-radius: 9px;
  background-color: $color-orange;
  font-family: $ff-body;
  padding: 10px 30px;
  text-decoration: none;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: 1.6px;
  text-align: center;
  color: $color-white;
  float: right;
  border: 0;
  &:hover {
    background: $color-orange;
    opacity: 0.9;
  }
  &:active {
    background: $color-orange;
  }
  &:focus {
    border:0;
    outline:0;
  }
  @media (min-width: 768px) {
    .card_body {
      padding-left: 3%;
      padding-right: 3%;
    }
  }
}
