  .logo1{
    position: relative;
  }
  .cardbody{
    background-color: $color-white;
  }
  .files{
    text-align: center;
    padding: 30px 0;
  }
  .check{
    width: 135px;
    height: 113px;
    object-fit: contain;
    padding-bottom: 40px;
  }
  .congrat{
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.45;
    letter-spacing: 2.75px;
    color: $color-green;
    padding-bottom: 34px;
  }
  .para{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 1.2px;
    color: $color-green;
    padding-bottom: 30px;
  }
  .button{
    border-radius: 6px;
    background-color: $color-orange;
    color: $color-white;
    padding: 20px 25px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: 1.6px;
    text-align: center;
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    .congrat{
      font-size: 55px;
    }
    .para{
      font-size: 24px;
      line-height: 1.04;
      letter-spacing: 1.2px;
      padding-bottom: 30px;
    }
  }
